.one{
  margin-left: 1rem;
  margin-right: 1rem;
  ion-button{
    display: flex;
    align-items: center;
    justify-content: center;


    position: relative;
    overflow: hidden;

    border: 2px solid #000;
    background-color: #E6895B;

    user-select: none;

    width: 100%;
    height: 50px;
    border-radius: 8px;
  }
  ion-text{
    font-size: larger;
  }
}

h1{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 2rem;
}

ion-title{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.two{
  margin-left: 1rem;
  margin-right: 1rem;
  ion-button{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;

    border: 2px solid #000;
    background-color: #E6895B;

    user-select: none;

    width: 100%;
    height: 50px;
    border-radius: 8px;
  }
}

.oneimput{
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  ion-list{
    width: 100%;
    border: 2px solid #fff;
    margin-top: 1rem;

  }
}
