<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="favorite">

    <h1>ENTRE EM SUA CONTA!</h1>

  <ion-item class="oneimput" color="dark">
    <ion-list color="dark">
      <ion-item color="dark">
        <ion-label>Email: </ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-label>Senha: </ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-list>
  </ion-item>

  <ion-item class="one" color="dark">
    <ion-button color="favorite">
         Entrar
    </ion-button>
  </ion-item>
  <ion-item class="two" color="dark">
    <ion-button routerLink="/registro" color="favorite">
      Registrar
    </ion-button>
    <ion-button color="favorite">
      Esqueci a senha
    </ion-button>
    <ion-button routerLink="/tabs/tab1"  color="favorite">
      Voltar
    </ion-button>
  </ion-item>

</ion-content>
