<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="favorite">
    <div class="wrapper">
      <b>Entre em sua conta ou faça seu registro já!</b>

      <div class="ion-activatable ripple-parent custom-parent" routerLink="/login">
        Login
        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <div class="ion-activatable ripple-parent custom-parent" routerLink="/login">
        Registro
        <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
      </div>
    </div>
</ion-content>
