<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="favorite">

    <h1>REGISTRE-SE JÁ!</h1>

  <ion-item class="oneimput" color="dark">
    <ion-list color="dark">
      <ion-item color="dark">
        <ion-label>Nome: </ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-label>CPF: </ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-label>Email: </ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-label>Senha: </ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-label>Confirmar senha: </ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-list>
  </ion-item>

  <ion-item class="one" color="dark">
    <ion-button color="favorite" routerLink="/login">
         Salvar
    </ion-button>
    <ion-button color="favorite" routerLink="/tabs/tab1">
         Voltar
   </ion-button>
  </ion-item>

</ion-content>
